.table-fixed {
    table-layout: fixed; 
    overflow: hidden;
}
.side-nav .collapsible a {
    font-size: 16px;
    width: 240px;
    height: 41px;
    line-height: 42px;
    margin-bottom: 0;
}

.w-auto {
    width: auto;
}
