/* -------- TIPOGRAFIA -------- */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: "Monstserrat semibold";
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: "Monstserrat bold";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: "Monstserrat extrabold";
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

.font-normal {
	font-family: "Montserrat";
	font-style: normal; 
	font-weight: 400;
}

/* -------- FIN TIPOGRAFIA -------- */

/* -------- HEADER INTRO -------- */
.header-intro {
	margin-bottom: 100px;
}

/* -------- FIN HEADER INTRO -------- */

/* -------- NAVBAR -------- */
.navbar {
	background-color: transparent;
	box-shadow: none !important;
	height: 74px !important;
	/*padding: 0 1em !important;*/
	/* font-size: 16px; */
	font-family: 'Montserrat';
	padding: 0 16px !important;
}

.navbar-brand {
	padding: 0 0.5em;
	line-height: 74px;
	background: #EB000E;
}

.navbar-brand-transparent {
	padding: 0 0.5em;
	line-height: 74px;
	background: transparent;
}

ul.navbar-nav {
	height: 74px;
	line-height: 70px;
	padding-left: 25px;
}

nav ul li.nav-item a.nav-link {
	border-bottom: 4px solid transparent;
	padding: 0 !important;
	margin: 0 1em;
	text-transform: uppercase;
}

ul li.nav-item.nav-pa {
	margin-right: 0.5em;
}

nav ul li.nav-item a.active {
	border-bottom: 4px solid #FF0000 !important;
}

nav ul li.nav-item a.nav-link:hover {
	color: #FF0000 !important;
}

ul.no-view li.nav-item a {
	color: #000 !important;
}

ul.no-view li.nav-item a:hover {
	color: #FF0000 !important;
}

.top-nav-collapse {
	background-color:rgba(255, 255, 255, 1) !important;
	color: #000;
}

.top-nav-collapse i.fa.fa-shopping-cart {
	color: #000 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

/* @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #EB000E !important;
    }
} */

ul.custom-scrollbar li a {
	padding: 0;
}

@media (min-width: 600px) {
	.navbar.scrolling-navbar.top-nav-collapse {
	    /* padding-top: 5px !important; */
		/* padding-bottom: 5px !important; */
	}

	.navbar.scrolling-navbar.top-nav-collapse .container .collapse ul li a.nav-link {
		color: #000 !important;
	}

	.navbar.scrolling-navbar.top-nav-collapse .container .collapse ul li a.nav-link i.carrito {
		color: #000;
	}
}

.carrito {
	padding: 1.5em!important;
	line-height: 74px;
}

ul.navbar-nav .dropdown-menu {
	line-height: 20px;
}

.dropdown-menu .dropdown-item {
	line-height: 20px;
}
/* -------- FIN NAVBAR -------- */

/* -------- IMAGEN INDEX -------- */
header .view {
	background: url("../img/headers/header-food-ham.jpg") no-repeat center center;
	background-size: cover;
	min-height: 800px;
}

header .view .full-bg-img .text-intro p.upper{
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
}

header.title .bg-title {
	margin-bottom: 2em;
	font-family: "Monstserrat"
}

header.title span {
	display: inline-block;
	text-transform: uppercase;
	padding: 0 10px;
	background: #FF0000;
	font-family: "Monstserrat extrabold";
	font-size: 22px;
	color: #fff;
	line-height: 37.4333px;
}

header.title h1.title-important {
	text-transform: uppercase;
	font-family: "Monstserrat bold";
	font-size: 96px;
	letter-spacing: 1px;
}

header.title p.description {
	text-transform: uppercase;
	font-family: "Monstserrat semibold";
	font-size: 25px;
}

header.title a.button-intro {
	padding: 18px 40px;
	background-color: #FF0000;
	color: #fff;
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 20px;
	border: 2px solid transparent;
	transition: ease-in-out .5s;
}

header.title a.button-intro:hover {
	background-color: transparent;
	border: 2px solid #FF0000;
	color: #FF0000;
}

@media screen and (max-width: 990px) {
	header.title span {
		font-size: 15px;
		margin-bottom: 2em;
	}

	header.title h1.title-important {
		font-size: 40px;
	}

	header.title p.description {
		font-size: 20px;
	}

	header.title a.button-intro {
		padding: 9px 20px;
		font-size: 20px;
	}

	.navbar.scrolling-navbar.top-nav-collapse .container button.navbar-toggler span.navbar-toggler-icon {
		color: #000 !important;
	}
}

@media screen and (max-width: 600px) {
	header.title span {
		font-size: 12px;
		margin-bottom: 2em;
	}

	header.title h1.title-important {
		font-size: 30px;
	}

	header.title p.description {
		font-size: 15px;
	}

	header.title a.button-intro {
		padding: 9px 20px;
		font-size: 15px;
	}
	
	.view {
		background: url("../img/headers/header-food-ham.jpg") no-repeat center center;
		width: 100%;
	}

	.navbar {
		background-color: #FF0000;
	}
}

/* -------- FIN IMAGEN INDEX -------- */

/* -------- ESTILOS DEGRADADOS -------- */
a.btn.durazno-gradient {
	background: -webkit-linear-gradient(50deg,#F5BD00,#ED4D2F)!important;
    background: linear-gradient(40deg,#F5BD00,#ED4D2F)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.dur-gradiente {
	background: -webkit-linear-gradient(50deg,#F5BD00,#ED4D2F)!important;
    background: linear-gradient(40deg,#F5BD00,#ED4D2F)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.ocre-gradiente-outline {
	border: 2px solid #B10035;
	color: #B10035 !important;
	background-color: transparent;
}

/* -------- FIN ESTILOS DEGRADADOS -------- */

/* -------- MODALES LOGIN -------- */
.nav-tabs {
	border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 2;
    position: relative;
	border-radius: 2px;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.nav-tabs .nav-item .nav-link {
	color: #fff;
}

.nav-tabs .nav-link.active {
	background-color: rgba(255,255,255,.2);
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
	border-radius: 2px;
	border-color: transparent;
}

.nav-tabs .nav-link:hover {
	border-color: transparent;
}

ul li.nav-item a.active-modal {
	border: 0px !important;
}

.tab-content {
	padding: 1rem;
    padding-top: 2rem;
    z-index: 1;
    border-radius: 0 0 .3rem .3rem
}

/* -------- FIN MODALES LOGIN -------- */

/* -------- ESTILOS DE CARRITO --------- */
i.fas.fa-trash:hover{
	color: #FF0000;
}
/* -------- FIN ESTILOS DE CARRITO --------- */

/* -------- ESTILOS MAIN CONTENT -------- */
.main-content {
	font-family: "Montserrat";
	font-size: 1em;
	padding-top: 50px;
}

.title-bg-red span{
	text-transform: uppercase;
	font-family: "Monstserrat extrabold";
	font-size: 16px;
	background-color: #FF0000;
	color: #fff;
	padding: 3px 10px;
	/* margin-bottom: 10px; */
	display: block;
}

.title-text h1 {
	font-family: "Monstserrat semibold";
	margin-top: 50px;
	font-size: 50px;
}
/* -------- MAIN CONTENT index -------- */
.information {
	margin: 50px 0;
	/* padding: 20px 0; */
}

.text-image {
	padding: 40px 0;
}

.text-image span.title {
	font-family: "Monstserrat semibold";
	font-size: 20px;
}

.text-image hr.line-red {
	height: 5px;
	background-color: #FF0000;
	width: 20%;
	margin: 20px 0;
}

.text-image p {
	opacity: .6;
}

.opacity {
	opacity: .6;
}

.title-text {
	display: block;
}

hr.line-red-title {
	width: 10%;
	display: block;
	height: 5px;
	background-color: #FF0000;
}

hr.line-red-center {
	width: 10%;
	display: block;
	height: 5px;
	background-color: #FF0000;
	margin: 5px auto;
}

.py-5 {
	padding-bottom: 0 !important;
}

.red-text {
	color: #FF0000 !important;
}

.services {
	margin-top: 50px;
}

section.restaurant-slider {
	background: url("../img/restaurant.jpeg") no-repeat center center;
	/* background: #000; */
	min-height: 600px;
	background-attachment: fixed;
	padding: 100px 0;
}

.white-card {
	background: #fff;
	color: #000;
	font-family: "Montserrat";
	font-size: 16px;
}

.intro-outline {
	background: #FF0000;
	color: #fff;
	border: 2px solid #FF0000;
	transition: ease-in-out .5s;
	font-family: "Montserrat";
	font-size: 20px;
	padding: 7px 12px;
}

.intro-outline:hover {
	background: #fff;
	color: #FF0000;
}

div.button {
	width: 30%;
	margin: 10px auto;
}

@media screen and (max-width: 600px)
{
	span.title-span {
		font-size: 30px;
	}
}
/* -------- FIN MAIN CONTENT index -------- */

/* -------- FIN ESTILOS MAIN CONTENT -------- */

/* -------- ESTILOS PARA FOOOTER -------- */
footer.page-footer {
	margin-top: 0 !important;
}

.gradient {
	background: -webkit-linear-gradient(50deg,#ED4D2F,#F5BD00)!important;
    background: linear-gradient(40deg,#ED4D2F,#F5BD00)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.hr-orange {
	background-color: #F5BD00;
}

.hr-red {
	background-color: #ED4D2F;
}
/* -------- FIN ESTILOS PARA FOOOTER -------- */

/* -------- ESTILOS PARA RESTAURANTE -------- */

/* -------- FIN ESTILOS PARA RESTAURANTE -------- */
.active-red-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ED4D2F;
    box-shadow: 0 1px 0 0 #ED4D2F;
}
.active-red input[type=text] {
    border-bottom: 1px solid #ED4D2F;
    box-shadow: 0 1px 0 0 #ED4D2F;
}

.active-pink .fa, .active-pink-2 .fa {
    color: #ED4D2F;
}

.nav.md-pills {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-bottom: 1rem;
}

.tab-content.vertical {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.tab-pane .media {
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* -------- ESTILOS PARA RESTAURANTES -------- */
section.cards-restaurantes {
	font-family: "Montserrat";
	font-size: 16px;
	margin: 25px 0;
}

.title h1 {
	font-family: "Montserrat semibold";
	/* text-align: center; */
}

/* botones de informacion */
.btn.outline-red {
	background-color: #fff;
	color: #FF0000 !important;
	border: 2px solid #FF0000;
}

.btn.outline-red:hover {
	background-color: #FF0000;
	color: #fff !important;
}

span.line-trought {
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.2);
}

span.resaltar {
	font-weight: bold;
}

.media-body .btn.btn-flat.add-cart:hover {
	background: rgba(255,255,255,.2);
}

a.btn.btn-like:hover {
	background: rgba(255,255,255,.2) !important;
}

.row .btn-group .btn.btn-flat.btn-notlike {
	color: inherit!important;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.row .btn-group .btn.btn-flat.btn-notlike.active {
	background: #dc3545 !important;
	color: #fff !important;
}

.row .btn-group .btn.btn-flat.active {
	background: #4285F4 !important;
	color: #fff !important;
}

.media.border-bottom {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 10px;
}
/* -------- FIN ESTILOS PARA RESTAURANTES -------- */

/* -------- ESTILOS PARA FOMURLARIOS EN PUBLIC -------- */
form input.w-90 {
	width: 90% !important;
}

.btn.btn-red {
	background: #FF0000;
	color: #fff;
}

.dropdown-red {
	/* background: #FF0000; */
	color: #fff;
}
/* -------- ./FIN ESTILOS PARA FOMURLARIOS EN PUBLIC -------- */

/* -------- ESTILOS PARA CONTACTO -------- */
.view-contact {
	background: url("../img/headers/equipo.jpg") no-repeat center center;
	background-size: cover;
	min-height: 800px;
}

.view-us {
	background: url("../img/headers/contacto-min.jpeg") no-repeat center center;
	background-size: cover;
	min-height: 800px;
}

.view-restaurant {
	background: url("../img/headers/resta.jpeg") no-repeat center center;
	background-size: cover;
	min-height: 800px;
}

header .view-contact .full-bg-img .text-intro p.upper, 
header .view-restaurant .full-bg-img .text-intro p.upper {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
}

.view-contact {
	overflow: hidden;
	position: relative;
	cursor: default; }
.view-contact .mask {
	background-attachment: fixed; }
.view-contact .mask,
.view-contact .full-bg-img {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0; }

.view-restaurant {
	overflow: hidden;
	position: relative;
	cursor: default; }
.view-restaurant .mask {
	background-attachment: fixed; }
.view-restaurant .mask,
.view-restaurant .full-bg-img {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0; }

.view-us {
	overflow: hidden;
	position: relative;
	cursor: default; }
.view-us .mask {
	background-attachment: fixed; }
.view-us .mask,
.view-us .full-bg-img {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0; }

/* Estilos iconos redes sociales */
i.blue-text:hover {
	color: #FF0000 !important;
}

section.mapa iframe {
	width: 100%;
}


.form-elegant .font-small {
	font-size: 0.8rem; }
  
.form-elegant .z-depth-1a {
	-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
	box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
	box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #fd9267;
	-webkit-box-shadow: 0 1px 0 0 #fd9267;
	box-shadow: 0 1px 0 0 #fd9267; }
	
.form-elegant input[type=text]:focus:not([readonly]) + label {
	color: #4f4f4f; }

.form-elegant input[type=email]:focus:not([readonly]) {
	border-bottom: 1px solid #fd9267;
	-webkit-box-shadow: 0 1px 0 0 #fd9267;
	box-shadow: 0 1px 0 0 #fd9267; }

.form-elegant input[type=email]:focus:not([readonly]) + label {
	color: #4f4f4f; }

.form-elegant textarea[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #fd9267;
	-webkit-box-shadow: 0 1px 0 0 #fd9267;
	box-shadow: 0 1px 0 0 #fd9267; }
	
.form-elegant textarea[type=text]:focus:not([readonly]) + label {
	color: #4f4f4f; }

.form-elegant input[type=password]:focus:not([readonly]) {
	border-bottom: 1px solid #fd9267;
	-webkit-box-shadow: 0 1px 0 0 #fd9267;
	box-shadow: 0 1px 0 0 #fd9267; }
	
.form-elegant input[type=password]:focus:not([readonly]) + label {
	color: #4f4f4f; }

.form-elegant input[type=date]:focus:not([readonly]) {
	border-bottom: 1px solid #fd9267;
	-webkit-box-shadow: 0 1px 0 0 #fd9267;
	box-shadow: 0 1px 0 0 #fd9267; }
	
.form-elegant input[type=date]:focus:not([readonly]) + label {
	color: #4f4f4f; }

.form-contacto {
	font-size: 40px;
	color: rgba(0, 0, 0, 0.6);
	margin-right: 1em;
}

input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after, input[type=password].invalid + label:after, input[type=password]:focus.invalid + label:after, input[type=email].invalid + label:after, input[type=email]:focus.invalid + label:after, input[type=url].invalid + label:after, input[type=url]:focus.invalid + label:after, input[type=time].invalid + label:after, input[type=time]:focus.invalid + label:after, input[type=date].invalid + label:after, input[type=date]:focus.invalid + label:after, input[type=datetime-local].invalid + label:after, input[type=datetime-local]:focus.invalid + label:after, input[type=tel].invalid + label:after, input[type=tel]:focus.invalid + label:after, input[type=number].invalid + label:after, input[type=number]:focus.invalid + label:after, input[type=search-md].invalid + label:after, input[type=search-md]:focus.invalid + label:after, input[type=search].invalid + label:after, input[type=search]:focus.invalid + label:after, textarea.md-textarea.invalid + label:after, textarea.md-textarea:focus.invalid + label:after {
	width: 300px !important;
}

.iconos-contacto {
	font-family: "Montserrat";
	line-height: 40px;
	padding: 30px 10px;
}

.iconos-contacto span.info {
	margin-left: 0.5em;
}

p.p-contacto {
	display: block;
}
				  
/* -------- ./FIN ESTILOS PARA CONTACTO -------- */

/* -------- ESTILOS PARA MENU -------- */
h6.title-plato,
span.costo {
	color: #000;
	font-family: "Monstserrat semibold"
}

.menu-bar {
	display: none;
	color: #fff;
}

.side-nav .logo-wrapper img {
    padding: 0;
}

.side-nav a {
	color: #fff;
}

.navbar.scrolling-navbar.double-nav.top-nav-collapse a {
	color: #000 !important;
}

@media screen and (min-width: 992px){
	.side-nav {
		/* display: none; */
		/* transform: translateX(-105%) !important; */
		display: none;
	}
}

@media screen and (max-width: 992px){
	.menu-horizontal {
		display: none;
	}

	.navbar-brand,
	.navbar-brand-transparent {
		display: none;
	}

	.menu-bar {
		display: block;
	}

	.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
		height: 100px;
	}
}
/* -------- FIN ESTILOS PARA MENU -------- */


/* -------- ESTILOS PARA MARGIN Y PADDING -------- */
.mb-0 { margin-bottom: 0px; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-7 { margin-bottom: 1.75rem; }
.mb-8 { margin-bottom: 2rem; }

.ml-6 { margin-left: 1.5rem; }
.ml-7 { margin-left: 1.75rem; }
.ml-8 { margin-left: 2rem; }
.ml-9 { margin-left: 4.7rem; }

.mt-8 { margin-top: 2rem; }

.pb-0 { padding-bottom: 0px; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pb-4 { padding-bottom: 1rem; }
/* -------- FIN ESTILOS PARA MARGIN Y PADDING -------- */

/* ---------------- Estilo para tabs ------------------*/

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}